
</script> 
<link rel="icon" type="image/x-icon" href="~/favicon.ico">


@{
    ViewData["Title"] = "Welcome to";
}

<div id="react-root"></div>

@section Scripts {
    <script src="~/js/bundle.js"></script>
}
